<h1><%= t('messages.mining_type.edit') %></h1>

<%= render 'form', mining_type: @mining_type %>

<%= link_to t('links.show'), @mining_type, class:"btn-primary btn-lg", role:"button" %> |
<%= link_to t('links.back'), mining_types_path, class:"btn-primary btn-lg", role:"button" %>
