<h1><%= t('messages.coin.edit') %></h1>

<%= render 'form', coin: @coin %>

<%= link_to 'Show', @coin, class:"btn-primary btn-lg", role:"button" %> |
<%= link_to 'Back', coins_path, class:"btn-primary btn-lg", role:"button" %>
